@font-face {
    font-family: "papu";
    src: url(../fonts/bold.ttf);
}

@font-face {
    font-family: "papu1";
    src: url(../fonts/reg.ttf);
}

$bold:"papu";
$reg:"papu1";
$dark-but:linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$ball:hsl(228, 28%, 20%);
$lite:hsl(230, 22%, 74%);
$insta:linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));