    .attribution {
        font-size: 11px;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
    
    * {
        box-sizing: border-box;
        padding: 0;
    }
    
    html {
        min-height: 100%;
    }
    
    body {
        margin: 0;
        line-height: 1.8rem;
        background-color: hsl(230, 17%, 14%);
        min-height: 100%;
    }
    
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0px 28px 0 28px;
        height: 100%;
        bottom: 60px;
    }
    
    img {
        width: 100%;
        height: auto;
    }