@import 'default';
@import 'config';
@import 'swit';
@import 'squarebox';
@import 'subbox';
.head {
    font-family: $bold;
    color: hsl(228, 34%, 66%);
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px 5px 25px 25px;
    padding-bottom: 40px;
    z-index: -1;
    .papu {
        padding: 35px;
    }
    h1 {
        margin: 0;
        color: white;
        font-family: $bold;
        font-size: x-large;
    }
    .mode {
        padding-top: 15px;
        display: flex;
        .switch {
            margin-top: 15px;
            margin-left: auto;
        }
    }
    hr {
        color: grey;
        margin: 0 auto;
        border-style: solid none none none;
        border-width: 1px;
        width: 100%;
    }
}